---
/* src/components/Productos/HeroProducts.astro */
---

<main class="px-6 md:px-8  max-w-7xl mx-auto">
  <header class="mb-16">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 items-end">
      <div class="md:col-span-8">
        <span class="text-[#dcef42] font-black tracking-[0.5em] text-[10px] uppercase mb-4 block italic">// Colección Premium</span>
        <h1 class="font-['Space_Grotesk'] text-5xl md:text-8xl font-black text-white tracking-tighter leading-[0.9]">
          Nuestros <br/> <span class="text-white/30">Productos</span>
        </h1>
      </div>
      <div id="japones" class="md:col-span-4 pb-2">
        <p class="text-white/60 text-lg leading-relaxed border-l border-[#dcef42]/30 pl-6 italic">
          Soluciones arquitectónicas en control de luz y diseño interior para los hogares más exclusivos de Zipaquirá y Sabana Centro.
        </p>
      </div>
    </div>
  </header>

 
 
</main>